<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC
 "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
 "http://www.freedesktop.org/standards/PolicyKit/1/policyconfig.dtd">

<policyconfig>

  <action id="org.freedesktop.hostname1.set-hostname">
    <description>Set the transient host name</description>
    <message>Authentication is required to set the transient host name.</message>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>auth_admin_keep</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.imply">
      org.freedesktop.hostname1.set-static-hostname
    </annotate>
  </action>

  <action id="org.freedesktop.hostname1.set-static-hostname">
    <description>Set the static host name</description>
    <message>Authentication is required to set the static host name.</message>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>auth_admin_keep</allow_active>
    </defaults>
  </action>

  <action id="org.freedesktop.hostname1.set-machine-info">
    <description>Set machine information (pretty name, icon, chassis)</description>
    <message>Authentication is required to set machine information.</message>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>auth_admin_keep</allow_active>
    </defaults>
  </action>

</policyconfig>
